- page_title "Webhooks"
- context_title = @project ? 'project' : 'group'

%h3.page-title

  Webhooks

%p.light
  #{link_to "Webhooks ", help_page_path("web_hooks", "web_hooks"), class: "vlink"} can be
  used for binding events when something is happening within the #{context_title}.

%hr.clearfix

= form_for hook, as: :hook, url: polymorphic_path(url_components + [:hooks]), html: { class: 'form-horizontal' } do |f|
  = form_errors(hook)

  .form-group
    = f.label :url, "URL", class: 'control-label'
    .col-sm-10
      = f.text_field :url, class: "form-control", placeholder: 'http://example.com/trigger-ci.json'
  .form-group
    = f.label :url, "Trigger", class: 'control-label'
    .col-sm-10.prepend-top-10
      %div
        = f.check_box :push_events, class: 'pull-left'
        .prepend-left-20
          = f.label :push_events, class: 'list-label' do
            %strong Push events
          %p.light
            This url will be triggered by a push to the repository
      %div
        = f.check_box :tag_push_events, class: 'pull-left'
        .prepend-left-20
          = f.label :tag_push_events, class: 'list-label' do
            %strong Tag push events
          %p.light
            This url will be triggered when a new tag is pushed to the repository
      %div
        = f.check_box :note_events, class: 'pull-left'
        .prepend-left-20
          = f.label :note_events, class: 'list-label' do
            %strong Comments
          %p.light
            This url will be triggered when someone adds a comment
      %div
        = f.check_box :issues_events, class: 'pull-left'
        .prepend-left-20
          = f.label :issues_events, class: 'list-label' do
            %strong Issues events
          %p.light
            This url will be triggered when an issue is created/updated/merged
      %div
        = f.check_box :merge_requests_events, class: 'pull-left'
        .prepend-left-20
          = f.label :merge_requests_events, class: 'list-label' do
            %strong Merge Request events
          %p.light
            This url will be triggered when a merge request is created/updated/merged
      %div
        = f.check_box :build_events, class: 'pull-left'
        .prepend-left-20
          = f.label :build_events, class: 'list-label' do
            %strong Build events
          %p.light
            This url will be triggered when the build status changes
  .form-group
    = f.label :enable_ssl_verification, "SSL verification", class: 'control-label checkbox'
    .col-sm-10
      .checkbox
        = f.label :enable_ssl_verification do
          = f.check_box :enable_ssl_verification
          %strong Enable SSL verification
  .form-actions
    = f.submit "Add Webhook", class: "btn btn-create"

-if hooks.any?
  .panel.panel-default
    .panel-heading
      Webhooks (#{hooks.count})
    %ul.well-list
      - hook_types = %w(push_events tag_push_events note_events issues_events merge_requests_events build_events)

      - hooks.each do |hook|
        %li
          .pull-right
            = link_to 'Test Hook', polymorphic_path(url_components + [hook], action: :test), class: "btn btn-sm btn-grouped"
            = link_to 'Remove', polymorphic_path(url_components + [hook]), data: { confirm: 'Are you sure?'}, method: :delete, class: "btn btn-remove btn-sm btn-grouped"
          .clearfix
            %span.monospace= hook.url
          %p
            - hook_types.each do |hook_type|
              - if hook.send(hook_type)
                %span.label.label-gray= hook_type.titleize
            SSL Verification: #{hook.enable_ssl_verification ? "enabled" : "disabled"}
